@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  font-family: 'VT323', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(circle at center, #2c2c2c 0%, #1a1a1a 100%);
  overflow: hidden;
}

#root {
  width: 100%;
}
